.common__section_gunung {
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../assets/images/bggg.jpeg') no-repeat center center;

    background-size: cover; 
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.common__section_gunung h1 {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
}
