.footer {
  background-color: #007bff; /* Warna biru */
  padding: 5rem 1rem;
  color: #fff;
}

.footer .logo p,
.footer .social__links i {
  color: #fff;
}

.footer__quick-links,
.footer__quick-links li,
.footer__quick-links li a {
  background: transparent !important;
  border: none !important;
  color: #fff !important;
}

.footer__quick-links a:hover {
  text-decoration: underline;
  color: #f0f0f0 !important;
}

.footer__link-title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__quick-links h6,
.footer__quick-links p {
  color: #fff;
}

.footer__quick-links span i {
  color: #fff;
}
